<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	<!-- Item 1 del Acordeon-->
	<div class="panel panel-default">

		<div class="panel-heading " role="tab" id="headingOne" data-toggle="collapse" data-target="#item1" aria-expanded="true" aria-controls="item1" data-parent="#accordion" style="cursor: pointer;" >
			<h4 class="panel-title">
				<span class="titulo">
					Informacion de la terminal
				</span>
			</h4>
		</div>

		<div id="item1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
			<div class="panel-body">
				<p><strong>Estado :</strong> {{sessionItem.terminal.estado}}</p>
				<p><strong>Tiempo Transcurrido :</strong> {{sessionItem.terminal.tiempo_transcurrido}}</p>
				<p><strong>Turnos en Espera :</strong> {{sessionItem.terminal.turnos_en_espera}}</p>
				<p><strong>Turnos Atendidos :</strong> {{sessionItem.terminal.turnos_atendidos}}</p>		
			</div>
		</div>

	</div>
	<!-- Item 1 del Acordeon-->

	<!-- Item 2 del Acordeon-->
	<div class="panel panel-default">

		<div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-target="#item2" aria-expanded="true" aria-controls="item2" data-parent="#accordion" style="cursor: pointer;" >
			<h4 class="panel-title">
				<span class="titulo">
					Informacion del Cliente
				</span>
			</h4>
		</div>

		<div id="item2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			<div class="panel-body">
				<p><strong>Tipo de Documento :</strong> {{sessionItem.turno.client.idType}}</p>
				<p><strong>N° Documento :</strong> {{sessionItem.turno.client.idNumber}}</p>
				<p><strong>Nombre del Cliente :</strong> {{sessionItem.turno.client.clientName}}</p>
				<p><strong>Codigo :</strong> {{sessionItem.turno.client.lineNumber}}</p>
			</div>
		</div>

	</div>
	<!-- Item 2 del Acordeon-->

	<!-- Item 3 del Acordeon-->
	<div class="panel panel-default">

		<div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-target="#item3" aria-expanded="true" aria-controls="item1" data-parent="#accordion" style="cursor: pointer;" >
			<h4 class="panel-title">
				<span class="titulo">
					Informacion del Turno
				</span>
			</h4>
		</div>

		<div id="item3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			<div class="panel-body">
				
					<p><strong>NumeroCel:</strong>{{sessionItem.turno.client.LineNumber}}</p>
					<div layout="row" layout-sm="column" layout-align="start center" layout-align-sm="center start" layout-margin>
						<label flex="15" flex-sm="100">Tiempo de Espera</label>
						<md-input-container>
  						 <input type="text" ng-model="sessionItem.infoTurno.tiempo_espera" aria-label="tiempoEspera">
						</md-input-container>
						<span flex></span>
					</div>
					
					<div layout="row" layout-sm="column" layout-align="start center" layout-align-sm="center start" layout-margin>
						<label flex="15" flex-sm="100">Motivo</label>
						<md-input-container>
  						 <input type="text" ng-model="sessionItem.infoTurno.motivo" aria-label="motivo">
						</md-input-container>
						<span flex></span>
					</div>
					
					<div layout="row" layout-sm="column" layout-align="start center" layout-align-sm="center start" layout-margin>
						<label flex="15" flex-sm="100">Area </label>
						<md-input-container>
  						 <input type="text" ng-model="sessionItem.infoTurno.area" aria-label="area">
						</md-input-container>
						<span flex></span>
					</div>
					<div layout="row" layout-sm="column" layout-align="start center" layout-align-sm="center start" layout-margin>
						<label flex="15" flex-sm="100">Tipo de Cliente</label>
						<md-input-container>
  						 <input type="text" ng-model="sessionItem.infoTurno.categoria_cliente" aria-label="catcleinte">
						</md-input-container>
						<span flex></span>
					</div>
					
					<!-- propuesta material -->
					<div layout="row" layout-sm="column" layout-align="start center" layout-align-sm="center start" layout-margin>
						<label flex="15" flex-sm="100">Servicio</label>
						<md-select ng-model="sessionItem.turno.infoTurno.services" placeholder="Escoja por favor un Servicio">

							<md-option ng-value="item.servicio" ng-repeat="item in servicios">{{item.servicio.nombre}}
							</md-option>
						</md-select>
						<span flex></span>
					</div>

					<div layout="row" layout-sm="column" layout-align="start center" layout-align-sm="center start" layout-margin>				
						<label flex="15" flex-sm="100">Subservicio</label>
						<md-select  ng-model="sessionItem.infoTurno.sub_servicio" placeholder="Ecoja por favor un subservicio">
						
							<md-option ng-value="subitem" ng-repeat="subitem in subservicios |filter:{$:sessionItem.infoTurno.servicio.sid}">
							{{subitem.subservicio.nombre_subservicio}}
							</md-option>								
						</md-select>
						<span flex></span>
					</div>
					<!-- propuesta material -->				

					<div class="form-group">				
						<label for="" class="col-sm-2 control-label">Observaciones</label>
						<div class="col-sm-10">
							<textarea class="form-control"name="" id=""  rows="2"></textarea>
						</div>	
					</div>						
			</div>
		</div>
	</div>
	<!-- Item 3 del Acordeon-->

</div>

