<div class="col-md-8">
<table class="table">
		<thead>
			<tr><th>Numero</th><th>Nombre</th><th>Motivo</th><th></th></tr>
		</thead>
		<tbody>
			<tr ng-repeat="answer in answers | filter:{$:'Pendiente por Atencion'} |limitTo:1">
				<td>{{answer.turno.client.lineNumber}}</td>
				<td>{{answer.turno.client.screenName}}</td>
				<td>{{answer.turno.motivoVisita}}</td>
				<td>{{answer._id}}</td>
				<td><button ng-click="tomarTurno(answer._id)">tomar turno</button></td>				
			</tr>
		</tbody>
	</table>

	<a-cordeon></a-cordeon>
	<br>
	<button ng-click="guardarTurno(sessionItem)">Guardar Info session</button>
</div>
<div class="col-md-3">

	<hr>

  <md-input-container>
  <md-select ng-model="asesor.toma" placeholder="Selecciona un asessor">
    <md-option ng-value="asesor" ng-repeat="asesor in asesores">{{asesor.name}} {{asesor.lastName}}</md-option>
  </md-select>
</md-input-container>
<hr>
	{{asesor.toma}}
<div>
<div class="col-md-1">
	
</div>