<div class="col-md-8">
	<table class="table">
		<thead>
			<tr><th>Numero</th><th>Nombre</th><th>Motivo</th><th>id</th><th>hora Creacion</th></tr>
		</thead>
		<tbody>
			<tr ng-repeat="answer in answers | filter:{$:'Pendiente por Atencion'}">
				<td>{{answer.turno.client.lineNumber}}</td>
				<td>{{answer.turno.client.screenName}}</td>
				<td>{{answer.turno.motivoVisita}}</td>
				<td>{{answer.turno.idTurno.numerador}}-{{answer.turno.idTurno.consecutivo}}</td>
				<td>{{answer.turno.infoTurno.logCreacionTurno}}</td>				
			</tr>
		</tbody>
	</table>	
</div>				

<div class="col-md-3">
	<form  novalidate>
		<div class="form-group">
			<label for="">Numero de linea</label>
			<input type="number" class="form-control" ng-model="newTurno.numero_linea_tigo">
		</div>
		<div class="form-group">
			<label for="">Nombre a Mostrar</label>
			<input type="text" class="form-control" ng-model="newTurno.nombre_pantalla">
		</div>
		<div layout="row" layout-sm="column" layout-align="start center" layout-align-sm="center start" layout-margin>
						<label flex="15" flex-sm="100">Servicio</label>
						<md-select ng-model="newTurno.servObj">
							<md-option ng-value="" ng-disabled="true" ng-selected="true">Escoja por favor un Servicio</md-option>
							<md-option ng-value="item.service"ng-repeat="item in servicios">
							{{item.service.serviceName}}
							</md-option>
						</md-select>
						<span flex></span>
					</div>
		<br><br><br><br>
		<button type="submit" class="btn btn-success" ng-click="addTurno(newTurno)"> Pedir Turno</button>
		{{subservicios[1].categorie}}
	</form>
</div>



